{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "plugins": ["prettier", "react", "react-hooks", "jsx-a11y"],
  "rules": {
    "no-trailing-spaces": "warn",
    "prettier/prettier": "warn"
  },
  "overrides": [
    {
      "files": ["*.test.js"],
      "plugins": ["jest", "testing-library"],
      "extends": [
        "react-app/jest",
        "plugin:jest/recommended",
        "plugin:testing-library/react",
        "plugin:testing-library/dom"
      ]
    }
  ]
}
